<aside class="sidebar">
	<div class="panel radius">
		<h3>Dictionary</h3>
		<iframe src="{{ site.url }}HCI/Rsc/placeholder_dict.html" name="DictionaryFrame" frameborder="0" style="position: relative; height: 100%; width: 100%; border-bottom: 4px dotted black; padding-bottom: 2px; margin-bottom: 3px; border-top: 4px dotted black; padding-top: 2px; margin-top: 3px;></iframe>
	</div>

	<div class="border-dotted radius b30">
		<!--<iframe name="DictionaryFrame" frameborder="0" style="position: relative; height: 100%; width: 100%;></iframe>-->
		Something here...
	</div>
</aside>
