<aside class="sidebar">
	<div class="panel radius">
		<h3>Dictionary</h3>
		<iframe src="{{ site.url }}HCI/Rsc/placeholder_dict.html" name="DictionaryFrame" frameborder="0" style="position: relative; height: 100%; width: 100%; border-bottom: 4px dotted black; padding-bottom: 2px; margin-bottom: 3px; border-top: 4px dotted black; padding-top: 2px; margin-top: 3px;"></iframe>
	</div>
															
	<div class="panel radius">
		<nav id="nav-wrap">
			<ul style="list-style-type: none; margin: 0; padding: 0;">
				<li class="current"><a class="page" href="#top">Top</a></li>
				<li><a class="page" href="#abstract">Abstract</a></li>
				<li><a class="page" href="#introduction">Introduction</a></li>
				<li><a class="page" href="#methods">Methods</a></li>
				<li><a class="page" href="#results">Results</a></li>
				<li><a class="page" href="#conclusion">Discussion & Conclusion</a></li>
				<li><a class="page" href="#citations">Citations</a></li>
			</ul>
		</nav>
		<!--<iframe src="{{ site.url }}HCI/Rsc/navigator.html" name="navigator" frameborder="0" style="position: relative; height: 100%; width: 100%; border-bottom: 4px dotted black; padding-bottom: 2px; margin-bottom: 3px; border-top: 4px dotted black; padding-top: 2px; margin-top: 3px;"></iframe>-->
	</div>
	
	<div class="panel radius">
		
	</div>
</aside>
